[project]
	description = Mean Video Test App
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Edward Cheadle (echeadle)
[access "refs/for/refs/*"]
	read = group user/Edward Cheadle (echeadle)
	push = group user/Edward Cheadle (echeadle)
	label-Code-Review = -2..+2 group user/Edward Cheadle (echeadle)
	label-Verified = -1..+1 group user/Edward Cheadle (echeadle)
	rebase = group user/Edward Cheadle (echeadle)
	removeReviewer = group user/Edward Cheadle (echeadle)
	submit = group user/Edward Cheadle (echeadle)
[access "refs/heads/*"]
	read = group user/Edward Cheadle (echeadle)
	create = group user/Edward Cheadle (echeadle)
	push = +force group user/Edward Cheadle (echeadle)
	pushMerge = group user/Edward Cheadle (echeadle)
[access "refs/tags/*"]
	push = +force group user/Edward Cheadle (echeadle)
	pushTag = group user/Edward Cheadle (echeadle)
	pushSignedTag = group user/Edward Cheadle (echeadle)
